# vim: ft=gitignore
#------------------------------------------------------------------------------#
# File and Folder Ignore List
#------------------------------------------------------------------------------#
# Project :: General
# I like to store various files / notes / old code in the attic
[Aa]ttic/

# Project :: Logs
[Ll]ogs/
*.log

# SQL :: sqlite3
# SQLite3 files
*.sqlite
*.sqlite-journal

# Python :: Virtual Environments
# python -m venv .venv
.env/
.venv/
env/
venv/
pyvenv.cfg
pip-selfcheck.json

# Python :: byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python :: distribution / packaging
.eggs/
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
share/python-wheels/
var/
wheels/
wheelhouse/
*.egg-info/
.installed.cfg
.Python
MANIFEST
*.egg

# Python :: pip
# installer logs
pip-delete-this-directory.txt
pip-log.txt

# Python :: pytest
.pytest_cache/

# python :: sphinx
# Sphinx documentation
docs/_build/

# Python :: python-dotenv
# Both filenames (.env / .flaskenv) are assumed defaults for the python-devenv package
# Note: Commented out for example purposes
.env
.env.*
.env-*
!.env.example
!.env-example

# C/C++ shared object library files
*.so
*.so.*

# Executables
*.app
*.com
*.exe
*.out

# Archive files
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.bz2
*.bzip
*.gz
*.iso
*.jar
*.lzma
*.rar
*.tar
*.tgz
*.xz
*.zip

# Sensitive information files (certificates / keys)
# Prevent accidently uploading them to the repo.
*.pem
*.key
*.der
*.csr
*.crt
*.cert
*.cer
*.p7b
*.crl

# Tools :: LibreOffice
.~lock.*#

# Tools :: Pycharm
.idea/
*.iws
*.iml
*.ipr

# Vim :: Session files
Session.vim
Sessionx.vim
# Vim :: Temporary files
.netrwhist
# Vim :: Auto-generated tag files
tags
# Vim :: Persistent undo
[._]*.un~
# Vim :: Swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# OS :: Linux
*~
# Desktop Environment :: KDE
.directory
# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*
# .nfs files are created when an open file is removed but is still being accessed
.nfs*
# Linux trash folder which might appear on any partition or disk
.Trash-*
# Kate
# Kate swap files
.*.kate-swp
.swp.*

# OS :: Windows
# Temporary files
~$*
# Dump files
*.stackdump
[Dd]esktop.ini
[Ee]hthumbs.db
[Tt]humbs.db
[Tt]humbs.db:encryptable
# Windows Recycle Bin used on file shares
$RECYCLE.BIN/
# Installer files
*.cab
*.msi
*.msix
*.msm
*.msp
# shortcuts
*.lnk

# Misc general backup/temp files
*.bak
*.tmp
*.temp
